<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title th:text="#{viewDeal}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
<header class="p-3 bg-dark text-white" th:insert="parts/header.html"> </header>

<div class="d-flex align-items-center justify-content-center">
    <div class="px-4 py-5 my-5 text-center">
        <div class="card mb-3">
            <img src="${car.imageUrl}" class="d-block mx-auto mb-4" width="399" height="299">
            <div class="card-body">
                <h5 class="card-title lh-1"><fmt:message key="yourDeal"/></h5>
                <p class="card-text lh-1"><fmt:message key="carModel"/> ${car.model}</p>
                <p class="card-text lh-1"><fmt:message key="transmission"/> ${car.transmission}</p>
                <p class="card-text lh-1"><fmt:message key="passengersPre"/> ${car.passengers}</p>
                <p class="card-text lh-1"><fmt:message key="priceforoneday"/> ${car.price}$   <fmt:message key="priceforndays"/> ${days} <fmt:message key="days"/> <calc:totalPriceTag price="${car.price}" days="${days}"/>$</p>
                <form method="post" action="${Path.SEARCH_CARS_PATH+=Path.VIEW_DEAL_PATH+=Path.BOOK_PATH}">
                    <input value="true" type="checkbox" name="driver" class="form-check-input" id="checkBox">
                    <label class="form-check-label" for="checkBox"><fmt:message key="personalDriver"/></label>
                    <button type="submit" class="btn btn-success"><fmt:message key="goToBook"/></button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>