<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title th:text="#{viewDeal}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
<header class="p-3 bg-dark text-white" th:insert="parts/header.html"> </header>

<div class="d-flex align-items-center justify-content-center">
    <div class="px-4 py-5 my-5 text-center">
        <div class="card mb-3">
            <img th:src="@{${session.car.imageUrl}}" class="d-block mx-auto mb-4" width="399" height="299">
            <div class="card-body">
                <h5 class="card-title lh-1" th:text="#{yourDeal}"></h5>
                <p class="card-text lh-1" th:text="#{carModel} + ' ' + ${session.car.brand.name} + ' ' + ${session.car.model}"></p>
                <p class="card-text lh-1" th:text="#{transmission} + ' ' + #{${session.car.transmission}}"></p>
                <p class="card-text lh-1" th:text="#{passengersPre} + ' ' + ${session.car.passengers}"></p>
                <p class="card-text lh-1" th:text="#{priceforoneday} + ' ' + ${session.car.priceForOneDay} + '$'"></p>
                <p class="card-text lh-1" th:text="#{priceforndays} + ' ' + ${session.days} + ' ' + #{days} + ' ' + ${session.car.priceAllDays} + '$'"></p>
                <form method="post" th:action="@{/search_cars/view_deal/book}">
                    <input value="true" type="checkbox" name="driver" class="form-check-input" id="checkBox">
                    <label class="form-check-label" for="checkBox" th:text="#{personalDriver}"></label>
                    <button type="submit" class="btn btn-success" th:text="#{goToBook}"></button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>